{% extends 'base.html' %}

{% block title %} Вход {% endblock %}


{% block main %}
    <h1> Вход </h1>
    <br>

    <form>
        <div class="row">
            <label>Имя пользователя</label>
            <input type="text" name="username" required>
        </div>

        <div class="row">
            <label>Пароль</label>
            <input type="password" name="password" required>
        </div>

        <div class="row">
            <button type="submit">Войти</button>
        </div>
    </form>
{% endblock %}
