{% extends 'base.html' %}

{% block title %} Регистрация {% endblock %}


{% block main %}
    <!--    Temporarily removed registration !-->
    <h1> Регистрация на сайте временно недоступна! </h1>
    <br>

    {% if error %}
        <div class="alert">
            {% if error == 'empty_fields' %}
                <p> Обязательные поля не заполнены </p>
            {% elif error == 'username_exists' %}
                <p> Это имя пользователя уже занято </p>
            {% elif error == 'passwords_not_match' %}
                <p> Пароли не совпадают </p>
            {% elif error == 'eula_not_accepted' %}
                <p> Пользовательское соглашение не принято </p>
            {% endif %}
        </div>
    {% endif %}

<!--    <form action="{{url_for('auth.register')}}" method="POST">-->
<!--        <div class="row">-->
<!--            <label>Имя пользователя</label>-->
<!--            <input type="text" name="username" required>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--            <label>Ваше имя (отображается в профиле)</label>-->
<!--            <input type="text" name="profile_name" required>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--            <label>Пароль</label>-->
<!--            <input type="password" name="password" required>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--            <label>Повтор пароля</label>-->
<!--            <input type="password" name="password2" required>-->
<!--        </div>-->

<!--        <div class="row">   -->
<!--            <label>-->
<!--                <input type="checkbox" name="eula_accept" required> Я принимаю <a href="{{url_for('main.eula')}}" target="_blank">Пользовательское соглашение</a>-->
<!--            </label>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--            <button type="submit">Войти</button>-->
<!--        </div>-->
<!--    </form>-->
{% endblock %}
