{% extends 'base.html' %}

{% block title %} Проект {% endblock %}


{% block head %}
    {{ super() }}
    {{ ckeditor.load_code_theme() }}
{% endblock %}


{% block main %}

    <h1>Проект &#171;{{ project.name }}&#187;</h1>

    <div class="content">
        <h2>Краткая информация</h2>
        <p>Дата начала проекта: {{ project.started.strftime('%d.%m.%Y') }}</p>
        {% if project.github %}
        <p>Исходный код проекта доступен на <a href="{{ project.github }}" target="_blank">github</a></p>
        {% endif %}
        {% if latest %}
        <p>Последняя версия: {{ latest.version }} ({{ latest.date.strftime('%d.%m.%Y') }})</p>
        {% endif %}

        <div class="content">
            <h2>Описание</h2>
            {{ project.description|safe }}
        </div>

        {% if latest %}
        <h2>Релизы</h2>
        <table class="bordered">
            <thead>
                <tr>
                    <th>Версия</th>
                    <th>Описание</th>
                    <th>Дата</th>
                    {% if project.downloadable %}
                    <th>Скачать</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for release in project.releases|sort(attribute='date', reverse=True) %}
                <tr>
                    <td>{{ release.version }}</td>
                    <td>{{ release.description|safe }}</td>
                    <td>{{ release.date.strftime('%d.%m.%Y') }}</td>
                    {% if project.downloadable %}
                    {% if release.file %}
                    <td><a href="{{ url_for('main.download_file', filename=release.file.server_filename) }}">Скачать</a></td>
                    {% else %}
                    <td><b>Релиз нельзя скачать</b></td>
                    {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

{% endblock %}
