{% extends 'base.html' %}

{% block title %} Главная {% endblock %}


{% block main %}
    <h1> Сайт Ильи Безрукова </h1>
    <div class="content">
        <h2> Об этом сайте </h2>
        <p>
            Этот сайт разрабатывается как с целью получения определенной практики в разработке веб-сайтов,
            так и с целью создать ресурс, содержащий информацию о моих проектах. На данный момент бОльшая часть функционала
            сайта находится в разработке.
        </p>
        <h2> Смена доменного имени сайта </h2>
        <p> Сайт сменил домен на <a href="{{ url_for("main.index") }}">ilbz.ru</a>. Домен brinzabezrukoff.xyz более недействителен!  </p>
    </div>
{% endblock %}
