<!DOCTYPE html>
<html>
	<head>
        {% block head %}
            <meta charset="utf-8">
            <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
            <title>{% block title %}{% endblock %} | Brinza Bezrukoff</title>
        {% endblock %}
	</head>
	<body>
		<div class="wrapper">

			<div class="header">
				<div class="logo"><a href="{{url_for('main.index')}}">Brinza<span class="black">Bezrukoff</span><span class="gray">.xyz</span></a></div>
				<ul class="nav">
                    {% block nav %}
                        {% for url, title, active in navbar %}
                            {% if active %}
                                <li><a href="{{url}}" class="active">{{title}}</a></li>
                            {% else %}
                                <li><a href="{{url}}">{{title}}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endblock %}
				</ul>
			</div>

			<div class="content">
                {% block content %}
    				<div class="rightCol">
                        {% block rightCol %}
        					<ul class="rightNav">
                                {% block rightNav %} 
                                    {% if current_user.is_authenticated %}
                                        <li><a href="{{url_for('main.profile', id=current_user.id)}}">Мой профиль</a></li>
                                        <li><a href="{{url_for('auth.logout')}}">Выйти из аккаунта</a></li>
                                    {% else %}
                                        <li><a href="{{url_for('auth.login')}}">Вход</a></li>
                                        <li><a href="{{url_for('auth.register')}}">Регистрация</a></li>
                                    {% endif %}
                                {% endblock %}
        					</ul>
    					{% endblock %}
    				</div>

    				<div class="main">
    					{% block main %}

                        {% endblock %}
    				</div>
                {% endblock %}
			</div>

			<div class="footer">
                {% block footer %}
				    <p>&copy; Copyright {{get_year()}} <a href="/brinzabezrukoff">Brinza Bezrukoff</a></p>
                    <p><a href="{{url_for('main.eula')}}" target="_blank">Пользовательское соглашение (EULA)<a></p>
                {% endblock %}
			</div>

		</div>
	</body>
</html>